<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notifood.notifoodlibrary"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="org.altbeacon.beacon"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <receiver android:name=".Receivers.GUIDReceiver">
            <intent-filter>
                <action android:name="com.notifood.notifoodlibrary.guidreceiver.notifyme"/>
                <action android:name="com.notifood.notifoodlibrary.guidreceiver.saveguid"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".Receivers.ServiceScheduleReceiver" />
    </application>

</manifest>
